<div class="container">
  <div class="row">
    <div class="col-5">
      <h1>Calculadora</h1>

      <p>
        <label>Ingresa el primer número.....</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="operando"
          placeholder="Escribe operando A"
        />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <p>
        <label>Ingresa el segundo número.....</label>
        <input
          type="number"
          class="form-control"
          [(ngModel)]="operador"
          placeholder="Escribe operando B"
        />
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button class="btn btn-success" (click)="operar()">SUMAR</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <p>
        <label class="me-2">Resultado</label>
        <input type="number" id="res" value="{{resultado}}" disabled>
      </p>
    </div>
  </div>
</div>
